<form (ngSubmit)="myForm.valid && onSubmit()" #myForm="ngForm"> 
    <div *ngIf="test"> 
        Form submitted ? {{myForm.submitted}}       
        Form valid ? {{myForm.valid}}
        Form invalid ? {{myForm.valid}}
    </div> 
    <div>
        <label for="user-order">User</label>
        <input name="user-order" type="text" [(ngModel)]="model.user" #user="ngModel" required minlength="4" maxlength="25">
    </div>
    <div>
        <div *ngIf="user.errors && myForm.submitted">
            <span *ngIf="user.errors.required">Le champs est requis</span>
            <span *ngIf="user.errors.minlength">Le champ user ne doit pas avoir moins de 4 caractères</span>
            <span *ngIf="user.errors.maxlength">Le champ user ne doit pas depasser 25 caractères</span>
        </div>
    </div>    
    <div>
        <label for="contact-order">Email</label>
        <input name="contact-order" type="email" [(ngModel)]="model.contact" #contact="ngModel" required email>
    </div>
    <div>
        <div *ngIf="contact.errors && myForm.submitted">
            <span *ngIf="contact.errors.required">Le champ est requis</span>
            <span *ngIf="contact.errors.email">Le champ email est invalide</span>
        </div>
    </div>
    <button type="reset">Reset</button>
    <button type="submit">Sauvegarder</button>    
</form>


  